body {
    text-align: center;
    background-image: url("https://64.media.tumblr.com/f76737e8a92c07d50a270a96af93ded4/10dfff23f92da37c-a6/s1280x1920/5a51cc02417382de7fb5030fb2a78690d7521ce1.png");
    background-size: cover;
}
